@import '../Vars.scss';

.Ellipsis {
	display: block;
	position: relative;
	justify-self: center;
}
.Ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.Ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: Ellipsis 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite
    forwards;
  animation: Ellipsis 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.Ellipsis div:nth-child(1) div {
  -webkit-animation: Ellipsis2 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite
    forwards;
  animation: Ellipsis2 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: $loader-primary-color;
}
.Ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -0.65s;
  animation-delay: -0.65s;
  background: $loader-secondary-color;
}
.Ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.325s;
  animation-delay: -0.325s;
  background: $loader-primary-color;
}
.Ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: $loader-secondary-color;
}
.Ellipsis div:nth-child(5) div {
  -webkit-animation: Ellipsis3 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite
    forwards;
  animation: Ellipsis3 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: $loader-primary-color;
}
.Ellipsis {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}

@keyframes Ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes Ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes Ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes Ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes Ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes Ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}