@import url(https://fonts.googleapis.com/css?family=Muli&display-swap);

$theme-font: 'Muli', sans-serif;
$main-color: #8f57fd;
$font-color: #ffffff;
$loader-primary-color: #4d2a94;
$loader-secondary-color: #2e0c64;